<div class="cart-summary-shell">
  <small class="fs-6 cart-summary-text">
    Panier:
    @if(cart.itemCount > 0) {
      <span>
        {{ cart.itemCount }} item(s)
        {{ cart.cartPrice | currency:"USD":"symbol":"2.2-2" }}
      </span>
    }

    @if(cart.itemCount == 0) {
      <span>
        (vide)
      </span>
    }

  </small>
  <button class="btn btn-sm cart-summary-button" [disabled]="cart.itemCount == 0" routerLink="/cart">
    <i class="fa fa-shopping-cart"></i>
  </button>
</div>
